{% extends 'base.html' %}

{% block content %}

<head>
<link rel="stylesheet" href="static/style.css">
</head>
<div class = "container" style="border: 2px solid #7E38B7; position: absolute;
top: 5cm; left: 40px; height: 250px; width: 450px;">
    <H1>Welcome Arjun</H1>
</div> 
<div class = "container-fluid" style= "border: 2px ; position: absolute;
top: 5cm; left: 16cm; height: 700px; width: 750px;">
    <img src="static/example.png" width="750px" height="700px">



</div>




<body>

</body>

{% endblock %}