<nav class="navbar navbar-expand-lg" style="background-color: #7E38B7; border: 2px solid #7E38B7 ;
border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="logo-image">
            <img src="static/Logo.png" class="img-fluid" style="width: 250px;
            height: 125px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 75px">
            
      </div><nav class="navbar navbar-expand-lg" style="background-color: #7E38B7; border: 2px solid #7E38B7 ;
border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="logo-image">
            <img src="static/Logo.png" class="img-fluid" style="width: 250px;
            height: 125px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 75px">
            
      </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/workout">
                  <img src="static/workout.PNG" class="img-fluid" style="width: 100px;
                  height: 100px; margin-right: 75px;  
                  ">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress">
              <img src="static/progress.PNG" class="img-fluid" style="width: 100px;
                  height: 100px; margin-right:75px; 
                  ">
            </a>
            <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calories"> <img src="static/calories.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:75px;  
              ">
              </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/online"><img src="static/online.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:75px; 
              "></a>
          </li>
          <li>
            <li class="nav-item">
            <a class="nav-link" href="/trainer"><img src="static/trainer.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:500px; 
              "></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting"><img src="static/setting.PNG" class="img-fluid" style="width: 100px;
              height: 100px;">
               </a>
          </li>
          
        </ul>
        </form>
      </div>
    </div>
  </nav>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/workout">
                  <img src="static/workout.PNG" class="img-fluid" style="width: 100px;
                  height: 100px; margin-right: 75px;  
                  ">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress">
              <img src="static/progress.PNG" class="img-fluid" style="width: 100px;
                  height: 100px; margin-right:75px; 
                  ">
            </a>
            <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calories"> <img src="static/calories.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:75px;  
              ">
              </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/online"><img src="static/online.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:75px; 
              "></a>
          </li>
          <li>
            <li class="nav-item">
            <a class="nav-link" href="/trainer"><img src="static/trainer.PNG" class="img-fluid" style="width: 100px;
              height: 100px; margin-right:500px; 
              "></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting"><img src="static/setting.PNG" class="img-fluid" style="width: 100px;
              height: 100px;">
               </a>
          </li>
          
        </ul>
        </form>
      </div>
    </div>
  </nav>