<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>Register</h3>
<br>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div>
    <form method="post" action="/register">
        <input type="email" name="email" placeholder="Your Email" autofocus="" required>
        <input type="password" name="password" placeholder="Your Password" required>
        <button class="button">Register</button>
    </form>
</div>
</body>
</html>